<!-- Navbar -->
	<div class="container-fluid">

		<nav class="navbar navbar-default navbar-fixed-top">

			<div class="container">

				<!-- Navbar header -->
				<header class="navbar-header">

					<!-- Collapse button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="glyphicon glyphicon-menu-hamburger"></span>
					</button>
					<!-- End of collapse button -->

					<!-- Logo -->
					<a class="navbar-brand text-header">Latest News</a>
					<!-- End of Logo -->

				</header>
				<!-- End of Navbar Header -->

				<!-- Navigation -->
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/savedArticles">Saved Articles</a></li>
						<li><a href="/scrape">Scrape Latest Articles</a></li>
					</ul>
				</div>
				<!-- End of Navigation -->

			</div>

		</nav>

	</div>
	
	<div class="container">

	<!-- End of Navbar -->
<div class="container">
	<div class="jumbotron top-mar">
		<h1 class="text-center">Saved Articles</h1>
	</div>
	{{#each saved}}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="article-box">
				<div class="row">
					<div class="col-xs-6">
						<a href="{{this.link}}">
							{{this.headline}}
						</a>
					</div>
					<div class="col-xs-3">
						<form action="/popNotes/{{this.id}}" method="POST">
							<button type="submit" data-toggle='collapse' data-target='#notes-{{this.id}}' class="btn btn-info">
								Article Notes
							</button>
						</form>
						
					</div>
					<div class="col-xs-3">
						<form action="/removeSaved/{{this.id}}" method="POST">
							<button type="submit" class="btn btn-danger">
								Remove from Saved
							</button>	
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="notes-box collapse" id="notes-{{this.id}}">
				{{#each this.note}}
				<div class="row note-row">
					<div class="col-xs-10">
						{{this.note}}
					</div>
					<div class="col-xs-2">
						<form action="/deleteNote/{{this.id}}" method="POST">
							<button type="submit" class="btn btn-danger">
								X
							</button>
						</form>
					</div>
				</div>
				{{/each}}
				<div class="row">
					<form action="/saveNote/{{this.id}}" method="POST">
						<div class="col-xs-12">
							<textarea class="text-area" name="note" rows="6" cols="50">
							</textarea>
						</div>
						<button type="submit" class="btn btn-success btn-save">
							Save Note
						</button>
					</form>
				</div>	 
			</div>
		</div>
	</div>
	{{/each}}
</div>