	<!-- Navbar -->
	<div class="container-fluid">

		<nav class="navbar navbar-default navbar-fixed-top">

			<div class="container">

				<!-- Navbar header -->
				<header class="navbar-header">

					<!-- Collapse button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="glyphicon glyphicon-menu-hamburger"></span>
					</button>
					<!-- End of collapse button -->

					<!-- Logo -->
					<a class="navbar-brand text-header">Latest News</a>
					<!-- End of Logo -->

				</header>
				<!-- End of Navbar Header -->

				<!-- Navigation -->
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/savedArticles">Saved Articles</a></li>
						<li><a href="/scrape">Scrape Latest Articles</a></li>
					</ul>
				</div>
				<!-- End of Navigation -->

			</div>

		</nav>

	</div>
	
	<div class="container">

	<!-- End of Navbar -->
	<div class="jumbotron top-mar">
		<h1 class="text-center">Latest News</h1>
		<h2 class="text-center">New York Times Edition</h2>
	</div>
	{{#each articles}}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			{{#compare this.saved "===" true}}
			<div class="article-box saved">
				<div class="row">
					<div class="col-xs-10">
						<a href="{{this.link}}">
							{{this.headline}}
						</a>
					</div>
					<div class="col-xs-2">
						<form action="/saveArticle/{{this.id}}" method="POST">
							<button type="submit" class="btn btn-success">
								Save
							</button>
						</form>
					</div>
				</div>
			</div>
			{{else}}
			<div class="article-box">
				<div class="row">
					<div class="col-xs-10">
						<a href="{{this.link}}">
							{{this.headline}}
						</a>
					</div>
					<div class="col-xs-2">
						<form action="/saveArticle/{{this.id}}" method="POST">
							<button type="submit" class="btn btn-success">
								Save
							</button>
						</form>
					</div>
				</div>
			</div>	
			{{/compare}}
		</div>
	</div>
	{{/each}}
</div>